*{
    margin: 0;
    padding: 0;
}
#title{
    background-color: black;
    background-image: url(titlepage.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.nav-custom{
    background-color: #E60965;
}
.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    padding-left:5%;
}
  
.nav-item {
    padding: 0 18px;
}
  
.nav-link {
    font-size: 1.2rem;
    font-family: 'Montserrat';
}

.titleheading{
    text-align: center;
    font-family: 'Mea Culpa', cursive;
    margin-top: 267px;
}

.titleheading h1{
    font-size: 6.5rem;
}

.x{
    color: white;
    padding: 0 25px;
}

/* #pictures{
    color: #fff;
    width: 98.9vw;
} */

.fft {
    margin-top:2%;
}

.carousel-item {
    padding: 7% 15%;
}

#testimonials {
    background-color: white;
    color: #E60965;
    width: 98.9vw;
    height: 100vh;
}

.test{
    text-align: center;
}

.arrow{
    color:black;
}

/* timline */

#timelinepage{
    box-sizing: border-box;
    background-color: #E60965;
    height: 107vh;
  }
  .timelinetitle{
      text-align: center;

  }
  /* body {
    background-color: #474e5d;
    font-family: Helvetica, sans-serif;
  } */
  
  /* The actual timeline (the vertical ruler) */
  .timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  /* The actual timeline (the vertical ruler) */
  .timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
    height: 100vh;
  }
  
  /* Container around content */
  .container1 {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
    max-width:600px;
  }
  
  /* The circles on the timeline */
  .container1::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
  }
  
  /* Place the container to the left */
  .left {
    left: -0.3vw;
    top:10vh;
  }
  
  /* Place the container to the right */
  .right {
    left: 39.35vw;
    top: 8vh;
  }
  
  /* Add arrows to the left container (pointing right) */
  .left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }
  
  /* Add arrows to the right container (pointing left) */
  .right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }
  
  /* Fix the circle for containers on the right side */
  .right::after {
    left: -16px;
  }
  
  /* The actual content */
  .content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
  }
  
  /* Media queries - Responsive timeline on screens less than 600px wide */
  @media screen and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
    left: 31px;
    }
    
    /* Full-width containers */
    .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
    }
    
    /* Make sure that all arrows are pointing leftwards */
    .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    }
  
    /* Make sure all circles are at the same spot */
    .left::after, .right::after {
    left: 15px;
    }
    
    /* Make all right containers behave like the left ones */
    .right {
    left: 0%;
    }
  }
